* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    outline: 1px solid red;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header_container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    
    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;

    padding: 20px 10px;
    color: #F9FAF8;
}

.header_links {
    display: flex;
    gap: 20px;
}

.header_links > a {
    color: #d1d1d1;
}

.hero_container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: row;

    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
}

.information_container {
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px;
    padding-top: 50px;

    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
}

.information_cards {
    display: flex;
}

.quote_container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px;

    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
}

.quote_source {
    align-self: flex-end;
}

.cta {
    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
}

.cta_card {
    display: flex;
    justify-content: center;
}

.footer {
    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
}