* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    /* outline: 1px solid red; */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header_container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    
    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;

    padding: 20px 10px;
    color: #F9FAF8;
}

.header_logo {
    font-size: 24px;
}

.header_links {
    display: flex;
    gap: 20px;
}

.header_links > a {
    color: #E5E7EB;
    font-size: 18px;
}

.hero_container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    color: #F9FAF8;
    padding: 100px 10px;

    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
}

.hero_left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.hero_left > h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero_left > p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero_left > button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.information_container {
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 100px;
    padding-top: 50px;

    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
}

.information_cards {
    display: flex;
}

.quote_container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px;

    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
}

.quote_source {
    align-self: flex-end;
}

.cta_container {
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

.cta {
    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
}

.cta_card {
    display: flex;
    justify-content: center;
}

.footer_container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.footer {
    /* Width Stuff */
    width: 80vw;
    max-width: 1050px;
    text-align: center;
}